
[numina]


[tool.run]
# Options for run subcommand
# Templates of the names of directories and files, used with
# format 1 of the control file. Valid fields are {obsid} and {taskid}
workdir_tmpl: obsid{obsid}_work
resultdir_tmpl: obsid{obsid}_results
resultfile_tmpl: result.json
taskfile_tmpl: task.json
datadir: data

copy_files: False
validate: False
